/* card css */
.cardDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        border: 2px solid grey;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background-color: white;
        padding: 5px;
        margin: 5px;
        width: 115px;
}
.cardDetail p{
    color: #3e4958;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 1px;
}
