body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}



main {
    margin: 20px;
    /* height: 100vh; */
    text-align: center;
}

/* iframe {
    width: 0%;
    height: 0px;
  } */

/* p {
    margin-bottom: 20px;
} */



a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

i {
    color: orange;
    font-style: normal;
}