.Name_Heading {
    width: 60px;
    margin: 10px 0px 0px 10px;
}

.Member_Heading {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 40px;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: var(--primary, #5570F1) !important;
}