.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login_Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    /* padding: var(--3, 24px) var(--4, 32px) var(--3, 24px) 384px; */   
}

.vflow_logo_login {
  margin-left: -60px;
}

.infosys_logo_login {
    margin-right: -60px;
}

.bg-image {
    height: 100vh;
    width: 100vw;
    background-image: url('../assets/brand/BgImg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.form_container {
    width: 443px;
    height: 500px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 30px 40px 20px 40px;
    background-color: #ffffff;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
        0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
        0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    font-family: "Inter", sans-serif;
}

.logo_container {
    box-sizing: border-box;
    width: 90px;
    height: 100px;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
    border: 1px solid #F7F7F8;
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #212121;
}

.subtitle {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 450;
    max-width: 100%;
    text-align: center;
    line-height: 1.1rem;
    color: #6a6c73
}

.input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input_container_forgotPassword {
    width: 100%;
    height: fit-content;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 10px;
}

.input_label {
    font-size: 0.90rem;
    color: #8B8E98;
    font-weight: 600;
}

.input_field {
    padding: 0 0 0 0px;
    border-radius: 8px;
    /* background: var(--input-default-background, rgba(239, 241, 249, 0.60)); */
    /* outline: none; */
    /* border: 1px solid #e5e5e5; */
    background-color: white !important;
}

.input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    /* background-color: transparent; */
}

.sign-in_btn {
    display: flex;
    width: 150px;
    height: 50px;
    padding: 17px 16px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 4px;
    border-style: none;
    background: var(--primary, #5570F1);
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px;


}

.sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 7px;
    outline: none;
    color: #242424;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
}

.img_con {
    width: 150px;
    height: 60px;
    object-fit: cover;
}

.sign-out-btn {
    color: var(--action-red, #CC5F5F);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#forgotPasswordbtn {
    margin-top: -25px;
    /* margin-left: 210px; */
    padding-bottom: 3px;

}

.forgotPasswordBtn {
    border: none;
    background: none;
    font: bold 16px Arial;
    cursor: pointer;
    color: #5570F1;
}

.login-link:hover {
    color: blue;
    /* Change color to blue on hover */
    text-decoration: underline;
    /* Underline text on hover */
}

.sendCodeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
}



.forgot_password_input {
    display: flex;
    width: 370px;
    height: 55px;
    padding: var(--1, 8px) var(--2, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: var(--1, 10px);
    /* background: var(--input-default-background, rgba(239, 241, 249, 0.60)); */
    outline: none;
    padding-left: 10px;
    border: 2px solid lightgrey;
}

.forgot_password_input_new {
    width: 356px;
    padding-top: 5px;

}

.bold-outline {
    border-width: 2px !important;
}

.multiline-input input {
    white-space: pre-wrap;
}


.version {
    max-width: 100%;
    padding: 15px;
    overflow: hidden;
    margin-top: -35px;
}

.appVersion {
    font-size: small;
    color: grey;
    white-space: pre-wrap;

}

/* reset password css */

.myTooltip {
    font-size: 1.4em !important;
}

.input_field_resetPassword {
    width: 363px;
}

.ChangePasswordbtn {
    border-radius: var(--border-radius, 4px);
    background: var(--primary, #5570F1);
    width: 195px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 12px;
    border-style: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 400;

}

.spaced {
    gap: 20px;
}

.error_message {
    position: absolute;
    top: 100%;
    color: rgb(222, 39, 39);
    margin-top: 5px;
    /* margin-bottom: 5px; */
    margin-left: 4px;
    font-size: 12px;

}

/* media-queries for screen 1280px and above */
@media screen and (min-width: 1280px) {
    .form_container {
        width: 27.68rem;
        height: 28.625rem;
        margin-top: 4.35rem;
        padding: 16px 40px 10px 40px;
    }

    .subtitle {
        margin-bottom: 10px;
    }

    .ChangePasswordbtn {
        width: 12.1875rem;
        padding: 0.4rem;
        margin-bottom: 1.40rem;
        margin-top: 0.10rem;
    }

    .spaced {
        gap: 15px;
    }

}