body {
  margin: 0;
  padding: 0;
  background: var(--main-background, #f4f5fa);
}

.App {
  display: flex;
}

main {
  padding: 10px;
  width: 100%;
}

.data-grid ul {
  list-style: none;
  padding-left: 0rem;
}

.data-grid li {
  margin-bottom: 10px;

  /* padding-right: 2rem; */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* search-box for data grids */

.dataGridSearch {
  margin: 19px 19px;
  width: 75%;
  /* outline: npn; */
  border: none;
  padding: 0.1rem;
  border-radius: 8px;
  outline: none;
  /* background-color: #f4f5fb; */
  border: 2px solid #3a3a3b;
  padding-left: 20px;
  font-size: small;
  height: 40px;
}

.dataGridSearch:focus {
  outline: none;
  border: 2px solid #4d90fe;
}


.searchContainerDatagrid {
  position: relative;
  margin-left: -2px;
}


/* Data grid heading-text */
.myTypography {
  font-weight: bold !important;
  font-family: Arial;
  color: rgb(46, 43, 43);
  text-transform: capitalize !important; 
  font-size: 22px !important;
}

/* stack class for data grid (search box and button) */

.parentContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.myStack {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 5px 0px;
  width: 100%;
  /* background-color:rgb(241, 240, 240); */
  margin: 0 auto;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(145, 158, 171, 0.08) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.08) 0px 12px 24px -4px;
}

/* Buttons for data-grid */
.delete-button {
  width: 30px !important;
  height: 30px !important;
  border-radius: 6px !important;
  padding: 0 !important;
  min-width: 0 !important;
  /* background-color: #dc3545 !important; */
  background-color: transparent !important;
  border: 2.5px solid #e36c51 !important;
  color:  #e36c51 !important;
  /* box-shadow: 0 2px 2px 1px rgba(179, 89, 107, 0.3) !important; */
}

.info-button {
  margin-right: 6px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 6px !important;
  padding: 0 !important;
  min-width: 0 !important;
  /* background-color:  #1762d3 !important; */
  background-color: transparent !important;
  border: 2.5px solid #2586d5 !important;
  color: #2586d5 !important;
  /* box-shadow: 0 2px 2px 1px rgba(129, 156, 216, 0.3) !important; */
}

.edit-button {
  margin-right: 6px !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 6px !important;
  padding: 0 !important;
  min-width: 0 !important;
  /* background-color: rgb(8 126 43) !important; */
  background-color: transparent !important;
  border: 2.5px solid rgb(8 126 43) !important;
  color:  rgb(8 126 43)!important;
  box-shadow: 0 2px 2px 1px rgba(140, 183, 144, 0.3) !important;
}

/* User profile chips */
.chipInfo {
  padding: 0 15px;
}

.chips {
  background-color:  rgba(245, 240, 240, 0.2) !important; 
  border: 2px solid  rgba(193, 185, 185, 0.5) !important;
  margin: 0 5px 6px 0 !important;
}

.roleChip{
  /* background-color: #D0ECFE !important;
  border: 2px solid  #2162a2 !important; */
  background: linear-gradient(to right, #89aacb, #a2d9ce) !important;
  color: #0f4f8f !important;
  font-weight: 600 !important;
}

.user-group-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: -13px;
}

.user-group-container img {
  margin-right: 8px; 
}